#profile-pic {
  width: 134px;
  height: 134px;
}

#table-of-contents {
  text-align: center;
  margin-left: 0px;
}

#table-of-contents > li {
  margin-left: 30px;
}

.chapter {
  text-align: center;
}

.bold-italics {
  font-style: italic;
  font-style: oblique;
  font-style: italic oblique;
}

.story {
  padding: 4px;
  background-color: rgba(30, 30, 30, 0.05);
  border-radius: 5px;
  text-align: justify;
}

.container {
  padding: 0px;
  width: inherit;
  height: auto;
}


.panel-body {
  border-width: 0 1px;
  border-style: solid;
  border-color: transparent;
}
